.analytic-element {
  padding: 1.5rem;
  background-color: #272634;
}

.analytic-element .icon-block {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 0.5rem;
  font-size: 30px;
  border-radius: 4px;
}

.analytic-element .data-block {
  margin-left: 0.5rem;
}

.analytic-element .data-block .analytic-element-value {
  margin: 0;
  font-size: 24px;
  float: left;
  color: white;
}

.analytic-element .data-block .analytic-element-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: grey;
}

.blue-icon-block {
  background: #2574ab;
}

.blue-one-block {
  background: #5bc0de;
}

.blue-second-block {
  background: #259dab;
}

.green-icon-block {
  background: #219483;
}

.red-icon-block {
  background: #de6489;
}

.orange-icon-block {
  background: #e27c79;
}

.purple-icon-block {
  background: #9d70e2;
}

.grey-icon-block {
  background: #727f9c;
}

.refresh-block i {
  padding: 5px;
  font-size: 22px;
  background: white;
}

.refresh-block:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.rounded {
  border-radius: 10px;
}

