.idea
/node_modules
/public/hot
/public/storage
/public/js

/public/fonts/vendor
/public/fonts/Glyphter.eot
/public/fonts/Glyphter.svg
/public/fonts/Glyphter.ttf
/public/fonts/Glyphter.woff

/public/chat-box
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
laravel-echo-server.json
laravel-echo-server.lock
