@mixin font-open-sans($fsize, $lheight) {
  font-family: open-sans, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-open-sans-bold($fsize, $lheight) {
  font-family: open-sans-bold, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-open-sans-semi-bold($fsize, $lheight) {
  font-family: open-sans-semi-bold, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-montserrat($fsize, $lheight) {
  font-family: montserrat, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-montserrat-medium($fsize, $lheight) {
  font-family: montserrat-medium, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-montserrat-bold($fsize, $lheight) {
  font-family: montserrat-bold, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}

@mixin font-montserrat-semi-bold($fsize, $lheight) {
  font-family: montserrat-semi-bold, Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
}
