@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

// Color system
$black-select:    #212121;
$black-footer: #191919;
$gray-text: #9b9b9b;
$gray-line: #d9d9d9;
$orange-text: rgb(255, 162, 0) ;
$gray-manager-info: rgb(67, 67, 69) ;
$orange-gradient1: #ffa200;
$orange-gradient2: #ff7e00;
$blue-request-btn: #79ccf2;

$facebook-color: #3360ff;
$twitter-color:  #1dcaff;
$google-plus: #ea4335;
$linkedin-color:  #0077B5;

//@media
$media-xl-1200: 1200px;
$media-lg-992: 992px;
$media-md-768: 768px;
$media-sm-576: 576px;

$media-1199: 1199px;
$media-991: 991px;
$media-767: 767px;
$media-575: 575px;

//@mixin
@mixin font-Lato($fsize, $lheight, $fcolor) {
  font-family: 'Lato', Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  color: $fcolor;
}

@mixin font-Montserrat($fsize, $lheight,  $fcolor) {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  color: $fcolor;
}

@media (min-width: 1200px){
  .container {
    max-width: 1200px;
  }
}

body {
  background: $white ;
}

header {
  @media (min-width: $media-lg-992) {
    height: 160px;
  }

  .container {
    .header-box {
      padding: 14px 0 0;
    }
  }
}

.top-header {

  @media (max-width: $media-991) {
    padding: 0 15px  15px;
  }

  @media (max-width: $media-575) {
    padding: 0 15px 15px;
  }

  .top-header-box {
    @media (min-width: $media-lg-992) {
      padding: 0 0 10px 0;
      border-bottom: 1px solid $gray-line;
      margin: 0;
    }

    .left-side {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: $media-lg-992) {
        padding: 0;
      }

      @media (max-width: $media-991) {
        flex-direction: column;
      }

      @media (max-width: $media-575) {
        padding: 0 0 15px 0;
        flex-direction: row;
        justify-content: space-around;
      }

      .login {
        margin: 0 15px 0 0;

        a {
          @include font-Lato(16px, 20px , $gray-text);
        }
      }

      .register {
        @media (max-width: $media-991) {
          flex-direction: column;
        }

        a {
          @include font-Lato(16px, 20px , $gray-text);
        }
      }
    }

    .right-side {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;

      @media (min-width: $media-lg-992) {
        padding: 0;
      }

      @media (max-width: $media-575) {
        justify-content: center;
      }

      .inside-right-side {
        margin: 0 -15px;

        @media (min-width: $media-lg-992) {
          display: flex;
        }

        @media (max-width: $media-575) {
          flex-direction: row;
          display: flex;
          justify-content: space-around;
          width: 100%;
          flex-wrap: wrap;
        }

        .mail {
          flex-wrap: nowrap;
          padding: 0 15px;

          .icon {
            margin: 0;
            font-size: 24px;
            color: $gray-400;
          }

          a {
            white-space: pre;
            padding: 2px 0 0 15px ;
            @include font-Lato (16px, 20px , $black);
          }
        }

        .tel-number {
          flex-wrap: nowrap;
          padding: 0 15px;

          .icon {
            margin: 0;
            font-size: 24px;
            color: $gray-400;
          }

          a {
            white-space: pre;
            padding: 2px 0 0 15px ;
            @include font-Lato (16px, 20px , $black);
          }
        }
      }
    }
  }
}

.bottom-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $media-lg-992) {
    height: 120px;
  }

  .liner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $media-991) {
      flex-direction: row-reverse;
    }

    @media (max-width: $media-575) {
      display: block;
      text-align: center;
    }

    .menu {
      padding: 8px 0;

      .navbar-collapse {
        @media(max-width: $media-991) {
          padding: 10px 0 0 ;
        }

        ul {
          @media(min-width: $media-xl-1200) {
            padding: 0 0 0 40px;
          }

          li+li {
            @media(min-width: $media-xl-1200) {
              margin: 0 0 0 50px;
            }
            @media(max-width: $media-1199) {
              margin: 0 0 0 38px;
            }
            @media(max-width: $media-991) {
              margin: 0 ;
            }
          }

          li {
            padding: 3px 0;
            a {
              @include font-Montserrat (15px, 24px , $black );
              font-weight: bold;
              position: relative;
              padding: 0;

              @media(min-width: $media-lg-992) {
                &::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  width: 0;
                  height: 2px;
                  margin-top: 4px;
                  transition: .3s all ease;
                  background: linear-gradient(to right , $orange-gradient1, $orange-gradient2 100%);
                }

                &:hover {
                  &:after {
                    width: 100%;
                    left: 0;
                  }
                }
              }
            }
            @media(min-width: $media-lg-992) {
              &.active {
                a {
                  @include font-Montserrat (15px, 24px, $black);
                  font-weight: bold;
                  position: relative;
                  padding: 0;

                  &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    margin-top: 4px;
                    background: linear-gradient(to right, $orange-gradient1, $orange-gradient2 100%);
                  }
                }
              }
            }

            @media(max-width: $media-991) {
              &.active {
                color: $white;
                background-color: $black-select;

                a {
                  color: $white;
                }
              }

              a:hover {
                color: $white;
                background-color: $black-select;
              }
            }
          }
        }
      }
    }
  }
}

.picture-container {
  overflow: hidden;
  max-width: none;
  height: 277px;
  width: auto;
  opacity: 1;
  position: relative;
  padding: 0;
  margin: 0 0 110px;

  .picture {
    height: 277px;
    width: auto;
    display: flex;

    a {
      display: block;
      width: 100%;
      margin: 0;

      img {
        height: 277px;
        width: 100%;
        object-fit: cover;
      }
    }

    .inscription {
      position: absolute;
      padding: 98px 0 0;
      width: 100%;
      text-align: center;

      p {
        margin: 0 0 70px 0;
        font-weight: bold;
        @include font-Montserrat( 45px, 54px, $white);

        @media(max-width: $media-575) {
          font-weight: bold;
          @include font-Montserrat( 28px, 54px, $white);
        }
      }

      .breadcrumb {
        background-color: transparent;
        padding: 5px 0;
        justify-content: center;

        @media(max-width: $media-575) {
          padding: 0 0 0 20px;
        }

        .breadcrumb-item {
          @include font-Lato( 16px, 0, $white);

          @media(max-width: $media-575) {
            @include font-Lato( 12px, 0, $white);
          }

          .a-text {
            color: $orange-text;
          }
        }

        .breadcrumb-item::before {
          padding: 0 8px 0 1px;
          color: $white;
        }

        .central {
          a {
            padding: 0 0 0 18px ;
          }

          &::before {
            color: $orange-text;
            padding: 0 75px 0 1px;
          }
        }
      }
    }
  }
}

.content-box {
  margin: 96px auto;

  @media(max-width: $media-767) {
    margin: 30px auto;
  }

  .content-box-row {
    .headline {
      h2 {
        @include font-Montserrat( 32px, 48px, $black);
        font-weight: bold;
        text-align: center;
        margin: 0 0 17px;
        @media (min-width: $media-md-768) {
          @include font-Montserrat( 38px, 45px, $black);
        }
      }

      hr {
        color: $orange-text;
        width: 40px;
        height: 2px;
        margin: 27px auto 34px;
        border: none;
        background-color: $orange-text;
      }
    }

    .content {
      padding: 0 15px 110px ;
      margin:  66px 0 0 0;
      .content-row {
        .left-content {
          .carousel {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            opacity: 1;

            .carousel-item {
              position: relative;
              text-align: -webkit-center;

              a {
                @media(max-width: $media-767) {
                  width: 100%;
                  height: 300px;
                }

                display: flex;
                justify-content: center;

                img {
                  width: 100%;
                  height: auto;
                  object-fit: cover;
                }
              }
            }
          }

          .description {
            margin: 50px 0 0;

            .description-name{
              margin:  0 0 19px 0;
              font-weight: 700;
              @include font-Montserrat( 22px, 27px, $black);
            }

            .description-text {
              @include font-Montserrat( 16px, 24px, $black);
            }
          }

          .details {
            margin: 30px 0 0;
            width: 100%;

            .table {
              thead {
                tr {
                  th {
                    border-top: none;
                  }
                }
              }

              tbody {
                tr:nth-child(odd) {
                  background-color: $white;
                }

                tr:nth-child(even) {
                  background-color: $gray-100;
                }
              }
            }
          }
        }

        .right-content {
          align-content: flex-start;
          margin: 0;
          padding: 0 15px 0 30px;

          .right-content-row {
            @media(max-width: $media-991) {
              flex-direction: column-reverse;
            }

            .info-box {
              .info {
                margin: 0;

                .date {
                  padding: 0;
                  @include font-Lato( 16px, 24px, $black);

                  @media(max-width: $media-991) {
                    text-align: center;
                  }

                  .icon {
                    color: $gray-400;
                  }
                }

                .apartment-info {
                  padding: 0;
                  margin: 50px 0 0;

                  @media(max-width: $media-991) {
                    margin: 20px 0 0;
                  }

                  ul {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;

                    @media(max-width: $media-991) {
                      justify-content: center;
                    }

                    li {
                      @include font-Lato( 16px, 24px, $gray-text);
                    }

                    li+li:before {
                      padding: 12px;
                      color: $gray-text;
                      content: '\00B7';
                    }
                  }
                }

                .price {
                  margin: 50px 0 0;
                  padding: 0;

                  @media(max-width: $media-991) {
                    text-align: center;
                    margin: 20px 0 0;
                  }

                  h5 {
                    @include font-Montserrat( 22px, 27px, $black);
                    font-weight: bold;
                  }
                }
              }

              .btns-box {
                margin: 20px 0 0;

                @media(max-width: $media-991) {
                  text-align: center;
                }

                .btn-primary {
                  @include font-Lato (14px, 28px , $white);
                  background-color: $orange-gradient1;
                  border-color: $orange-gradient1;
                  font-weight: 700;
                  padding: 9px 16px;
                  white-space: nowrap;
                  letter-spacing: .06em;
                  border-width: 2px;
                  transition: .3s;
                  backface-visibility: hidden;
                  position: relative;
                }

                .request-btn-box {
                  margin: 10px 0 0;

                  .btn-info {
                    @include font-Lato (14px, 28px , $white );
                    background-color: $blue-request-btn;
                    border-color: $blue-request-btn;
                    font-weight: 700;
                    position: relative;
                    padding: 9px 16px;
                    border-radius: 3px;
                    white-space: nowrap;
                    letter-spacing: .06em;
                    border-width: 2px;
                    transition: .3s;
                    backface-visibility: hidden;
                  }
                }
              }
            }

            .manager-box {
              margin: 70px 0 0;

              .manager-in-box {
                display: flex;
                @media(max-width: $media-991) {
                  flex-direction: column;
                }

                .unit-left {
                  @media(max-width: $media-991) {
                    text-align: center;
                    margin: 0 0 30px 20px;
                  }
                }

                .unit-right {
                  margin: 0 0 30px 20px;

                  @media(max-width: $media-991) {
                    text-align: center;
                  }

                  .manager-name {
                    h5 {
                      @include font-Montserrat( 22px, 27px, $orange-text);
                      font-weight: bold;
                    }
                  }

                  .manager-info {
                    .contacts-list {
                      padding: 0;

                      .info-block {
                        list-style-type: none;

                        .fas {
                          color: $gray-manager-info;
                        }

                        .item {
                          @include font-Lato (16px, 24px , $gray-manager-info);
                          white-space: pre;
                          padding: 2px 0 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .similar-properties-box {
      padding: 0 15px;

      .similar-properties {
        margin: 66px 0 0;
        @media(max-width: $media-767) {
          margin: 0;
        }

        .properties-description {
          .property-block {
            @media(max-width: $media-767) {
              margin:  0 0 66px 0;
            }

            .property-img-block {
              width: 100%;
              height: 250px;
            }
            .property-img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            .property-description {
              margin: 24px 0 0;

              @media(max-width: $media-767) {
                text-align: center;
              }

              .property-name {
                a {
                  @include font-Montserrat( 22px, 27px, $orange-text);
                  font-weight: bold;
                  text-decoration: none;
                }
              }

              .property-price {
                @include font-Montserrat( 17px, 25px, $black);
                margin: 10px 0 18px;
                font-weight: bold;
              }

              .property-info {
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;

                @media(max-width: $media-767) {
                  justify-content: center;
                }

                li {
                  @include font-Lato( 16px, 24px, $gray-text);
                }

                li+li:before {
                  padding: 12px;
                  color: $gray-text;
                  content: '\00B7';
                }
              }
              .property-text {
                p {
                  @include font-Lato( 16px, 24px, $black);
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $black-footer;
  padding: 66px 0 34px;

  .news {
    @media(max-width: $media-575) {
      display: flex;
      flex-direction: column;
    }

    h6 {
      @include font-Montserrat( 17px, 25px, $white);
      margin: 0 0 2px ;
      letter-spacing: .06em;
      font-weight: bold;

      @media(max-width: $media-575) {
        text-align: center;
      }

    }

    article {
      display: inline-block;
      margin: 16px 0 0;
      font-size: 12px;

      a {
        text-decoration: none;

        .post-meta {
          display: inline-flex;

          span {
            font-size: 14px;
            color: $orange-text;
          }

          .time-tranform {
            margin: -2px 0 0;
            .datetime {
              padding: 0 0 0 20px;
              @include font-Lato( 12px, 18px, $gray-text);
            }
          }
        }

        .post-title {
          h6 {
            @include font-Montserrat( 17px, 25px, $white);
            white-space: pre;
            text-align: left;

            &:hover {
              color: $orange-text;
            }
          }
        }
      }
    }
  }

  .links{
    @media(max-width: $media-575) {
      margin: 41px 0 0;
      text-align: center;
    }

    h6 {
      @include font-Montserrat( 17px, 25px, $white);
      letter-spacing: .06em;
      font-weight: bold;
    }
    .menu-list-block {
      text-align: left;
      display: inline-block;

      ul {
        padding: 0;
        li {
          list-style-type: none;
          margin: 10px 0 0;

          &:before {
            font-weight: 400;
            color: $orange-text;
            content: "\2022";
            padding: 0 7px 0 0;
          }

          a {
            @include font-Lato( 16px, 24px, $white);
          }
        }
      }
    }
  }

  .newsletter {
    @media(max-width: $media-991) {
      margin: 41px 0 0;
      text-align: center;
    }

    h6 {
      @include font-Montserrat( 17px, 25px, $white);
      margin: 0 0 18px ;
      letter-spacing: .06em;
      font-weight: bold;
    }

    p {
      @include font-Lato( 16px, 24px, $white);
    }

    .connection {
      margin: 30px 0 0;

      .input-group {
        height: 40px;

        .input-group-prepend {
          .input-group-text {
            background-color: $black-select;
            border: none;

            .fas {
              color: $white;
            }
          }
        }

        .form-control {
          height: 40px;
          font-size: 15px;
          padding: 2px 8px 6px;
        }

        .input-group-append {
          button {
            @include font-Lato (15px, 22px , $white);
            background-color: $orange-gradient1;
            border-color: $orange-gradient1;
            font-weight: bold;
            padding: 4px 8px;
            letter-spacing: 0.9px;
            border-width: 1px;
          }
        }
      }
    }
  }

  .social-networks {
    @media(max-width: $media-1199) {
      text-align: center;
      margin: 66px 0 0;
    }

    .real-estate {
      @include font-Lato( 16px, 24px, $gray-text);
      margin: 4px 0 18px ;
    }

    .list-inline {
      .list-inline-item {
        margin: 0;
        padding: 0 5px;

        a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 18px;
          transition: .3s;
          border-radius: 50%;
          text-align: center;
          background: $black-select;
          color: $white;
          text-decoration: none;
        }

        &:hover {
          border-radius: 50%;
        }
      }

      .facebook {
        a:hover {
          background: $facebook-color;
        }
      }

      .twitter {
        a:hover {
          background: $twitter-color;
        }
      }

      .google-plus {
        a:hover {
          background: $google-plus;
        }
      }

      .linkedin {
        a:hover {
          background: $linkedin-color;
        }
      }
    }
  }
}



